@media (max-width: 344px) {

  footer {
    padding: 0 1.8rem;
  }

}

@media (min-width: 345px) and (max-width: 430px) {

  footer {
    padding: 0 2.52rem;
  }

}

@media (max-width: 430px) {

  footer {

    ul {
      margin-top: 0.25rem;

      li {

        &:nth-last-of-type(3),
        &:nth-last-of-type(6) {
          display: none;
        }

        a {

          span {
            display: none;
          }

          img {
            width: 25px;
          }

        }        

      }

    }

  }

}

@media (min-width: 431px) {

  footer {

    ul {

      li {

        &:nth-last-of-type(5) {
          display: none;
        }

      }

    }

  }

}

@media (min-width: 768px) {

  footer {
    display: none;
  }
  
}