.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 335px;
  padding: 2.6rem 0.8rem 1.6rem 1.4rem;

  border-right: 1px solid var(--border-color);
  background-color: var(--first-bg-color);

  .top {
    
    .instagram-logo {
      width: 102px;
      margin-left: 2px;
      margin-bottom: 1.8rem;

      fill: var(--primary-color);

      &:hover {
        cursor: pointer;
      }

    }

    .instagram-icon {
      width: 50px;
      padding: 0.8rem;
      margin-bottom: 1.5rem;
      border-radius: 8px;

      fill: var(--primary-color);

      transition: transform 0.2s ease-in-out;

      &:hover {
        background-color: var(--fourth-bg-color);
        
        cursor: pointer;
        transform: scale(1.05);
      }

    }

    .first-top-menu {
      list-style-type: none;

      margin-left: -0.6rem;

      li {
        padding: 0.7rem 0.5rem;
        border-radius: 10px;
        margin-bottom: 0.61rem;

        transition: background-color 0.2s ease-in-out;

        a {
          display: flex;
          align-items: center;
        }

        svg {
          width: 30px;
          margin-right: 0.8rem;
        }

        img {
          border-radius: 50%;
          width: 25px;
          margin-left: 3px;
          margin-right: 0.9rem
        }

        svg,
        img {
          transition: transform 0.2s ease-in-out;
        }

        &:hover {
          cursor: pointer;
          
          background-color: var(--fourth-bg-color);

          svg,
          img {
            transform: scale(1.05);
          }

        }

        span {
          font-size: calc(var(--text-size) + 0.8px);
        }

        #home {
          font-family: 'Instagram Sans Bold', sans-serif;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

      }

    }

    .second-top-menu {
      list-style-type: none;

      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        position: relative;

        padding: 0.8rem 0.8rem 0.6rem 0.8rem;
        margin-bottom: 0.3rem;
        border-radius: 8px;

        &:last-of-type {
          margin-bottom: 0;
          padding: 0.7rem 0.7rem 0.5rem 0.7rem;
        }

        img {
          border-radius: 50%;
          width: 30px;
        }

        svg,
        img {
          transition: transform 0.2s ease-in-out;
        }

        span {
          position: absolute;
          top: 10px;
          left: 68px;

          opacity: 0;
          pointer-events: none;
          transition: opacity 0.5s ease-in-out;
          white-space: nowrap;

          background-color: var(--second-bg-color);

          padding: 0.4rem 0.8rem;
          border-radius: 8px;
        }

        &:hover {
          background-color: var(--fourth-bg-color);
          
          cursor: pointer;
          
          svg,
          img {
            transform: scale(1.05);
          }

          span {
            opacity: 1;
          }

        }

      }

    }

  }

  .bottom {

    .first-bottom-menu {
      list-style-type: none;

      margin-top: 1.8rem;
      margin-left: -0.6rem;

      .threads,
      #other {
        padding: 0.7rem 0 0.7rem 0.5rem;
        border-radius: 10px;
        margin-bottom: 0.61rem;

        transition: background-color 0.2s ease-in-out;

        a {
          display: flex;
          align-items: center;
        }

        svg {
          width: 30px;
          margin-right: 0.8rem;

          transition: transform 0.2s ease-in-out;
        }

        span {
          font-size: calc(var(--text-size) + 0.8px);
        }

        &:hover {
          cursor: pointer;
          
          background-color: var(--fourth-bg-color);

          svg {
            transform: scale(1.05);
          }

        }

      }

      .threads {

        a {

          .external-link-icon {
            display: none;
            fill: var(--second-icon-color);

            margin-left: 9.5rem;
          }

          &:hover {

            .external-link-icon {
              display: block;
            }

          }

        }
        

      }

      #other {
        position: relative;

        display: flex;
        align-items: center;

        margin-bottom: 0;

        .other-options {
          list-style-type: none;
          opacity: 0;
          pointer-events: none;

          position: absolute;
          bottom: 50px;
          left: 10px;

          width: 270px;
          border-radius: 15px;
          padding: 0.5rem;

          background-color: var(--second-bg-color);

          li {
            display: flex;
            align-items: center;

            padding: 0.94rem 0 0.94rem 0.6rem;
            border-radius: 8px;
            margin-bottom: 0;

            transition: none;
    
            a {
              display: flex;
              align-items: center;
            }
    
            svg {
              width: 30px;
              margin-right: 0.5rem;

              transition: transform none;
            }

            span {
              font-size: calc(var(--text-size) - 1px);
            }

            &:hover {
              cursor: pointer;
              
              background-color: var(--third-bg-color);
        
            }            

          }

          div {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          #change-account,
          #exit {
            font-size: calc(var(--text-size) - 1px);
            padding-left: 1.2rem;
          }

          #line1 {
            height: 6px;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            
            background-color: var(--fifth-color);
          }

          #line2 {
            height: 0.8px;
            margin-left: -0.5rem;
            margin-right: -0.5rem;

            background-color: var(--sixth-color);
          }

        }

        &:focus-within {

          svg {

            line {
              stroke-width: 3px;
            }

          }

          .other-options {
            opacity: 1;
            pointer-events: auto;
          }

        }

      }

    }

    .second-bottom-menu {
      list-style-type: none;

      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        position: relative;

        padding: 0.8rem 0.8rem 0.6rem 0.8rem;
        margin-bottom: 0.3rem;
        border-radius: 8px;        

        &:last-of-type {
          margin-bottom: 0;
          padding: 0.7rem 0.7rem 0.5rem 0.7rem;
        }

        svg {
          transition: transform 0.2s ease-in-out;
        }

        &:hover {
          background-color: var(--fourth-bg-color);
          
          cursor: pointer;

          svg {
            transform: scale(1.05);
          }

        }

      }

      .threads,
      #other {        

        #text-threads,
        #text-other {
          position: absolute;
          top: 7px;
          left: 68px;

          opacity: 0;
          pointer-events: none;
          transition: opacity 0.5s ease-in-out;
          white-space: nowrap;

          background-color: var(--second-bg-color);

          padding: 0.4rem 0.8rem;
          border-radius: 8px;
        }

        &:hover {

          #text-threads,
          #text-other {
            opacity: 1;
          }

          }

        }

      #other {
        position: relative;

        display: flex;
        align-items: center;

        margin-bottom: 0;

        .other-options {
          list-style-type: none;
          opacity: 0;
          pointer-events: none;

          position: absolute;
          bottom: -6px;
          left: 47px;

          width: 270px;
          border-radius: 15px;
          padding: 0.5rem;

          background-color: var(--second-bg-color);

          li {
            display: flex;
            align-items: center;

            padding: 0.94rem 0 0.94rem 0.6rem;
            border-radius: 8px;
            margin-bottom: 0;

            transition: none;
    
            a {
              display: flex;
              align-items: center;
            }
    
            svg {
              width: 30px;
              margin-right: 0.5rem;
            }

            span {
              font-size: calc(var(--text-size) - 1px);
            }

            &:hover {
              cursor: pointer;
              
              background-color: var(--third-bg-color);
        
            }            

          }

          div {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          #change-account,
          #exit {
            font-size: calc(var(--text-size) - 1px);
            padding-left: 1.2rem;
          }

          #line1 {
            height: 6px;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            
            background-color: var(--fifth-color);
          }

          #line2 {
            height: 0.8px;
            margin-left: -0.5rem;
            margin-right: -0.5rem;

            background-color: var(--sixth-color);
          }

        }

        &:focus-within {

          svg {

            line {
              stroke-width: 3px;
            }

          }

          .other-options {
            opacity: 1;
            pointer-events: auto;
          }

        }

      }

    }

  }

}