footer {

  .footer-one {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 20px;

    width: 400px;
    padding: 0.5rem 1rem;

    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(211, 211, 211, 0.472);

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    cursor: pointer;

    .footer-title {
      color: var(--primary-color);

      font-weight: 700;
      font-size: calc(var(--text-size) + 0.3rem);
    }

    .icons {
      display: flex;
      align-items: center;

      .new-message,
      .expand {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          fill: var(--second-icon-color);

          width: 37px;

          border-radius: 50%;
          padding: 0.5rem;
          margin: 0;

          &:hover {
            background-color: var(--fourth-bg-color);
            
            cursor: pointer;
          }

        }

        &:hover {

          span {
            opacity: 1;
          }
          
        }

        span {
          position: absolute;
          bottom: 37px;

          font-size: 0.8rem;
          padding: 0.15rem 0.2rem;
          border-radius: 2px;

          opacity: 0;
          pointer-events: none;
          transition: opacity 1s;

          background-color: var(--third-bg-color);
          color: var(--primary-color);
        }

      }

      .new-message {

        span {
          white-space: nowrap;
        }

      }

    }

  }

  .footer-two {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 55px;
    padding: 0 1.6rem 0 1.6rem;

    border-top: 1px solid var(--border-color);
    background-color: var(--bg-color);

    a {
      color: var(--primary-color);
    }

    svg {
      fill: var(--second-icon-color);

      width: 27px;
    }

    .home {
      position: relative;

      span {
        position: absolute;
        top: -4px;
        right: 1px;

        width: 7px;
        height: 7px;
        border-radius: 50%;

        background-color: var(--third-color);
      }

    }

    .notifications {
      position: relative;

      span {
        position: absolute;
        top: -5px;
        right: -2px;

        background-color: var(--third-color);

        border-radius: 15px;
        padding: 0.05rem 0.5rem;

        font-size: calc(var(--text-size) - 4px);
      }

    }

  }

}