@media (max-width: 430px) {

  footer {

    .footer-one {
      display: none;
    }

  }

}

@media (min-width: 431px) {

  footer {

    .footer-two {
      display: none;
    }

  }
  
}

@media (max-width: 1092px) {

  footer {
  
    .footer-one {
      display: none;
    }

  }

}

@media (min-width: 1093px) and (max-width: 1178px) {

  footer {
  
    .footer-one {
      width: 350px;
    }

  }

}

@media (min-width: 1295px) and (max-width: 1365px) {

  footer {
  
    .footer-one {
      width: 350px;
    }

  }

}